version: '3.8'

services:

  app:
    container_name: backend_api
    image: nestjs-api:1.0.0
    build:
      context: .
      dockerfile: DOCKERFILE
    command: npm run start:debug
    ports:
      - "4000:4000"
    networks:
      - backend-network
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    restart: unless-stopped
networks:
  backend-network: